body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: white;
}

.background{
    background-image: linear-gradient(rgba(60,60,60,0.5), rgba(60,60,60,0.5)),
        url(../images/background.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: bottom;
}

.calendar{
    display: flex;
    justify-content: space-around;
}

.month{
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(60,60,60,0.6), rgba(60,60,60,0.6));
    padding: 20px;
    margin-bottom: 50px;
    align-items: center;
    width: min(90%, 1400px);
}

.week{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.day{
    height: 100px;
    border-radius: 3px;
}

.current_month{
    background: linear-gradient(rgba(160,60,60,0.8), rgba(60,60,60,0.8));
}
.current_month:hover{
    background: linear-gradient(rgba(190,60,60,1), rgba(60,60,60,0.8));
}


.not_current_month{
    background: linear-gradient(rgba(60,60,60,0.8), rgba(60,60,60,0.8));
}
.not_current_month:hover{
    background: linear-gradient(rgba(30,30,30,1), rgba(60,60,60,0.8));
}


#today{
    background: linear-gradient(rgba(10,50,60,0.8), rgba(60,60,60,0.8));
}
#today:hover{
    background: linear-gradient(rgba(10,90,60,1), rgba(60,60,60,0.8));
}


.Szombat, .Vasárnap{
    background: linear-gradient(rgba(60,60,60,0.8), rgba(60,60,60,0.8));
}
.Szombat:hover, .Vasárnap:hover{
    background: linear-gradient(rgba(30,30,30,1), rgba(60,60,60,0.8));
}


.done{
    background: linear-gradient(rgba(60,160,60,0.8), rgba(60,60,60,0.8));
}
.done:hover{
    background: linear-gradient(rgba(60,190,60,1), rgba(60,60,60,0.8));
}

.text{
    margin: 10px;
    color: white;
    text-decoration: none;
    font-size: 22px;
    display: flex;
    height: 90%;
    flex-direction: column;
    justify-content: space-between;
}

.day_wrap{
    flex: 1;
}

a{
    text-decoration: none;
    color: white;
}

.nav_buttons{
    display: flex;
    flex-direction: row;
}

.nav_button{
    width: 200px;
    text-align: center;
}

.backwards, .forwards{
    width: 100%;
}

.date_title_wrapper{
    display: flex;
    justify-content: center;
}

.date_title{
    font-size: 35px;
    font-weight: 700;
    background: linear-gradient(rgba(60,60,60,0.6), rgba(60,60,60,0.6));
    width: fit-content;
    padding: 10px;
    margin-bottom: 0px;
}

.cyan-button{
    background-color: rgba(10,70,60,0.8);
    font-size: 18px;
    font-weight: 700;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.cyan-button:hover{
    background-color: rgba(10,70,60,1);
}

.cyan-button:active {
    transform: translateY(2px);
    box-shadow: inset 0 0 5px #ccc;
}

.toggle-days-displayed{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.weekdays{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.weekdays div{
    background: linear-gradient(rgba(30,30,30,0.8), rgba(30,30,30,0.8));
    margin: 0px 10px 0px 10px;
    flex: 1;
    border-radius: 3px;
}

.weekdays div span{
    margin: 10px;
    font-size: 22px;
    width: 100%;
    display: block;
}

.probaterheles.false, .inklinometer.false, .integritasvizsgalat.false, .sullyedesmeres.false, .other.false, .probaterheles.true, .inklinometer.true, .integritasvizsgalat.true, .sullyedesmeres.true, .other.true{
    width: 20%;
    height: 20px;
    background-size: contain;
}

.probaterheles.false{
    background-image:  url(../images/probaterheles.png);
}

.inklinometer.false{
    background-image:  url(../images/inklinometer.png);
}

.integritasvizsgalat.false{
    background-image:  url(../images/integritasvizsgalat.png);
}

.sullyedesmeres.false{
    background-image:  url(../images/sullyedesmeres.png);
}

.other.false{
    background-image:  url(../images/other.png);
}

.probaterheles.true{
    background-image:  url(../images/probaterheles_green.png);
}

.inklinometer.true{
    background-image:  url(../images/inklinometer_green.png);
}

.integritasvizsgalat.true{
    background-image:  url(../images/integritasvizsgalat_green.png);
}

.sullyedesmeres.true{
    background-image:  url(../images/sullyedesmeres_green.png);
}

.other.true{
    background-image:  url(../images/other_green.png);
}

.probaterheles, .inklinometer, .integritasvizsgalat, .sullyedesmeres, .other{
    background-repeat: no-repeat;
}

.icons{
    display: flex;
    justify-content: space-between;
}

.bubble {
  background-color: #333333;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 12px;
  padding: 5px;
  margin-top: 25px;
  display: inline-block;
  width: auto;
  border-radius: 5px;
  white-space: nowrap;
  position: absolute;
  z-index: 999;
}

.weekend, .Szombat-display, .Vasárnap-display{
    display: none;
}

.day_wrap, .weekdays div{
    margin: 10px 20px 10px 20px;
}

input[type="date"]{
    font-size: 1.1rem;
    margin: 0.7rem 0.3rem 0.3rem 0.3rem;
}

.export_wrapper div{
    display: flex;
    justify-content: center;
}