.background{
    background-image: linear-gradient(rgba(60,60,60,0.5), rgba(60,60,60,0.5)),
        url(../images/background.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: bottom;
}

.date{
    font-size: 40px;
    font-weight: 700;
    background: linear-gradient(rgba(60,60,60,0.6), rgba(60,60,60,0.6));
    width: 300px;
    text-align: center;
    margin: 20px 0px 0px 0px;
    padding: 10px;
    color: white;
}

.projects_wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project{
    color: white;
    background: linear-gradient(rgba(60,60,60,0.8), rgba(60,60,60,0.8));
    margin: 50px;
    width: fit-content;
    min-width: 350px;
    height: fit-content;
}

.project_title{
    width: fit-content;
    font-size: 40px;
    font-weight: 500;
    padding: 15px;
    margin : 15px;
    background: linear-gradient(rgba(60,160,60,0.4), rgba(60,160,60,0.2));
}

.info{
    margin: 10px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

.info span{
    font-size: 20px;
    margin: 5px 5px 5px 30px;
    background: linear-gradient(rgba(30,30,30,0.7), rgba(30,30,30,0.7));
    width: fit-content;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: 500;
    color: white;
}

.info label{
    margin-top: 10px;
    background: linear-gradient(rgba(160,160,60,0.5), rgba(160,160,60,0.4));
    width: fit-content;
    padding: 5px;
    font-size: 25px;
}

.comment p{
    width: fit-content;
    max-width: 30ch;
    word-wrap: break-word;
    font-size: 20px;
    color: darktgrey;
    margin: 5px 5px 5px 30px;
    background: linear-gradient(rgba(30,30,30,0.7), rgba(30,30,30,0.7));
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: 500;
}


table{
    margin-top: 20px;
}

table, th, td{
    border: 1px solid grey;
    border-collapse: collapse;
    color: white;
}

.project_data{
    background: linear-gradient(rgba(60,160,60,0.4), rgba(60,160,60,0.4));
}

.categories{
    background: linear-gradient(rgba(160,160,60,0.2), rgba(160,160,60,0.2));
}

.odd, .artifact{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.even{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
}

.inactive td{
    color: grey;
}

.add, .remove{
    cursor: pointer;
}