
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: white;
}

.select2-container--default{
   color: black;
}

.background{
    background-image: linear-gradient(rgba(60,60,60,0.5), rgba(60,60,60,0.5)),
        url(../images/background.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: bottom;
}

.project{
    background: linear-gradient(rgba(60,60,60,0.8), rgba(60,60,60,0.8));
    margin: 50px;
    height: fit-content;
    max-width: 500px;
}

.project_title{
    width: fit-content;
    font-size: 40px;
    font-weight: 500;
    padding: 15px;
    margin : 15px;
}

.saved_project .project_title{
    background: linear-gradient(rgba(60,160,60,0.4), rgba(60,160,60,0.2));
}

.unsaved_project .project_title{
    background: linear-gradient(rgba(160,60,60,0.4), rgba(160,60,60,0.2));
}

textarea{
    width: 100%;
    height: 50px;
    padding: 5px 5px;
    box-sizing: border-box;
    color: white;
    border: 0px;
    border-radius: 4px;
    background: linear-gradient(rgba(160,160,60,0.5), rgba(160,160,60,0.5));
    font: inherit;
    font-size: 15px;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


#id_vehicle{
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
}

#id_vehicle div{
    padding: 2px;
}

#id_employee{
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
}

#id_employee div{
    padding: 2px;
}

.select2{
    width: 20ch;
}

.label{
    margin: 5px;
    font-weight: 500;
    font-size: 19px;
}

.project_save{
    padding: 7px 18px;
    margin: 3px;
}

.title{
    font-size: 40px;
    font-weight: 500;
    background: linear-gradient(rgba(60,60,60,0.8), rgba(60,60,60,0.8));
    width: 300px;
    text-align: center;
    margin: 20px 0px 0px 0px;
    padding: 10px;
}

.title_parent{
    display: flex;
    justify-content: center;
}

.buttons_flex{
    display: flex;
}

.nav_menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    display: inline;
}

table{
    margin-top: 20px;
}

table, th, td{
    border: 1px solid grey;
    border-collapse: collapse;
    color: white;
}

.project_data{
    background: linear-gradient(rgba(60,160,60,0.4), rgba(60,160,60,0.4));
}

.categories{
    background: linear-gradient(rgba(160,160,60,0.2), rgba(160,160,60,0.2));
}

.odd, .artifact{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.even{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
}

.inactive td{
    color: grey;
}

.add, .remove{
    cursor: pointer;
}

.done_btn{
    background: olive;
}

#done_show{
    visibility: hidden;
}

input[type="date"]{
    font-size: 1.1rem;
    margin: 5px;
    padding: 2px;
}

.cyan-button{
    background-color: rgba(10,70,60,0.8);
    font-size: 1.1rem;
    font-weight: 700;
    border: none;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    margin: 4px;
    cursor: pointer;
}

.cyan-button:hover{
    background-color: rgba(10,70,60,1);
}

.cyan-button:active {
    transform: translateY(2px);
    box-shadow: inset 0 0 5px #ccc;
}