<!DOCTYPE html>
{% extends "bmw/base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block title %}
Schedule - Bejelentkezés
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'schedule/css/password_change_style.css' %}">


<section class="background">
    <div class="box">
        <span class="text-center" id="result">{{result}}</span>
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="input-container">
                {% render_field field placeholder=field.label %}
            </div>
            {% endfor %}
{% for field in form %}
    {% if field.errors %}
        <span style="color:red">
            {{ field.errors }}
        </span>
    {% endif %}
{% endfor %}
            <button type="submit" class="btn button-37">Change password</button>
        </form>
    </div>
</section>

{% block success %}

{% endblock %}

{% endblock %}