@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}


header{
    background: linear-gradient(rgba(30, 30, 30, 0.7), rgba(30, 30, 30, 0.7));
    height: 100px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navMenu {
    position: absolute;
}

.log_out{
    align-self: flex-end;
    margin: 10px;
    color: white;
    display: flex;
}

.log_out a{
    color: crimson;
    text-decoration: none;
}

.log_out a:hover{
    color: red;
}




.log_in{
    margin: 10px;
    align-self: flex-end;
}

.log_in a{
    color: lightGreen;
    text-decoration: none;
}

.log_in a:hover{
    color: lime;
}


.button-68 {
  appearance: none;
  backface-visibility: hidden;
  background-color: green;
  border-radius: 3px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-68:hover {
  background-color: #27ae60;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-68:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-68:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}


.username{
    align-self: center;
    margin: 10px;
    font-size: 16px;
}


.button-69 {
  appearance: none;
  backface-visibility: hidden;
  background-color: darkred;
  border-radius: 3px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-69:hover {
  background-color: crimson;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-69:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-69:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}


.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 0px 20px 0px 20px;
}

.navMenu a:hover {
  color: #fddb3a;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background: linear-gradient(rgba(30, 30, 30, 0.8), rgba(30, 30, 30, 0.8));
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.log_out .dropdown-content{
    right: 0;
}

#logout:hover{
    background: rgba(250, 30, 30, 0.8);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover{
background-color: lightgreen;
color: black;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#dropdown_nav a{
    margin: 0;
}

#dropdown_nav a:hover{
    background-color: #fddb3a;
}

#BMW-dropdown{
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .navMenu{
        align-self: start;
    }
}