.background{
    background-image: linear-gradient(rgba(60,60,60,0.5), rgba(60,60,60,0.5)),
        url(../images/quickreport.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.box_wrapper{
    display:flex;
    justify-content: center;
    width: 100vw;
}

.box{
    background-color: rgba(0, 0, 0, 0.89);
	border-radius:3px;
	padding:70px;
	margin: 50px;
	color: white;
    font-size: 1.5rem;
    width: 400px;
}

.field_wrapper{
    margin: 10px;
}

textarea{
    width: 100%;
    height: 50px;
    padding: 5px 5px;
    box-sizing: border-box;
    color: white;
    border: 0px;
    border-radius: 4px;
    background: linear-gradient(rgba(160,160,60,0.5), rgba(160,160,60,0.5));
    font: inherit;
    font-size: 15px;
}

input[type='text'], input[type='number']{
  border:0;
  border-bottom:1px solid #555;
  background:transparent;
  color:#fff;
}

input[type='text']:focus, input[type='number']:focus{
 border:none;
 outline:none;
 border-bottom:1px solid #e74c3c;
}

#id_language, #id_technician{
    display: flex;
}

#id_language_0, #id_language_1, #id_technician_0, #id_technician_1{
    width: 1.5rem;
    height: 1.5rem;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

input[type='number'] {
-moz-appearance:textfield;
}

.button-3 {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: inherit;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 4px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 10px;
}

.button-:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

.dl_buttons{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.word button{
    background-image: url(../images/word-doc-icon.png);
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    width: 80px;
    height: 80px;
}

.word button:hover{
    cursor: pointer;
}


.pdf button{
    background-image: url(../images/pdf-icon.png);
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    width: 80px;
    height: 80px;
    position: relative;
}

.wip-bubble {
    visibility: hidden; /* Hide the bubble by default */
    position: absolute; /* Position the bubble absolutely */
    padding: 3px; /* Add some padding to the bubble */
    border-radius: 5px; /* Add rounded corners to the bubble */
    text-align: center; /* Center the text inside the bubble */
    font-size: 15px;
    color: white;
    background-color: crimson;
    border: solid 1px red;
}


.pdf button:hover + .wip-bubble {
    visibility: visible; /* Show the bubble when the button is hovered over */
}

form input, form select, form option, form textarea{
    font-size: 1.2rem;
    margin-top: 5px;
}

.profile_from, .profile_to{
    max-width: calc((100% - 1ch) / 2);
}

.profiles{
    display: flex;
}