<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'bmw/images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static  'bmw/css/base_style.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <title>{% block title %} {% endblock %}</title>
</head>
<body>

        <section class="background">
            <header>
                <nav class="navMenu">
                    <a href="{% url 'home' %}">Home</a>
                    <div id="BMW-dropdown" class="dropdown">
                          <a>BMW</a>
                          <div class="dropdown-content" id="dropdown_nav">
                            <a href="{% url 'jelkod' %}">Jelkód</a>
                            <a href="{% url 'buildings' %}">Épületek</a>
                            <a href="{% url 'quickreport' %}">Gyorsjelentés</a>
                          </div>
                    </div>
                    {% if user.is_authenticated %}
                        {% now "Y" as year %}
                        {% now "m" as month %}
                        <a href="{% url 'calendar' year=year month=month %}">Beosztás</a>
                    {% endif %}
                    {% if user.is_staff %}
                        <a href="{% url 'admin' year=year month=month %}">Admin</a>
                    {% endif %}
                </nav>
                {% if user.is_authenticated %}
                    <div class="log_out">
                        <div id="user-dropdown" class="dropdown">
                          <div class="button-68">{{ user.username }}</div>
                          <div id="user-dropdown-content" class="dropdown-content">
                            <a href="{% url 'password_change' %}">Change password</a>
                            <a href="{% url 'vacation' %}">Vacation days</a>
                              {% if user.is_staff or user.is_superuser %}
                              <a href="{% url 'admin:index' %}">Django admin</a>
                              {% endif %}
                              <a id="logout" href="{% url 'logout' %}">Kijelentkezés</a>
                          </div>
                        </div>
                    </div>
                {% else %}
                    <div class="log_in">
                        <a href="{% url 'login' %}">
                            <button class="button-68" role="button">Bejelentkezés</button>
                        </a>
                    </div>
                {% endif %}
            </header>

            {% block content %}
            {% endblock %}

        </section>

<script src="{% static 'bmw/js/base.js' %}"></script>
</body>
</html>