<!DOCTYPE html>
{% extends "bmw/base.html" %}
{% load static %}

{% block title %}
Fugro - Épületek
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'bmw/css/buildings_style.css' %}">


<section class="background">
    <div class="box" id="box" data-url="{% url 'buildings_ajax' %}">
        <span class="text-center" id="result">{{result}}</span>
        <form>
            {% for field in form.sorszam %}
            <div class="input-container">
                {{ field }}
            </div>
            {% endfor %}

            {% for field in form.building %}
            <div class="radio_buttons">
                {{ field }}
            </div>
            {% endfor %}
            <button type="submit" class="btn button-37" id="calculate">Számol</button>
        </form>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'bmw/js/buildings.js' %}"></script>

{% endblock %}
