<!DOCTYPE html>
{% extends "bmw/base.html" %}
{% load static %}

{% block title %}
Fugro
{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'bmw/css/home_style.css' %}">

<section class="background">
    <div class="link-section">
        <a class="pic_link" href="{% url 'jelkod' %}">
            <div class="promo" style="--overlay-color: yellow">
              <div class="image-wrapper">
                  <img src="{% static 'bmw/images/jelkod.jpg' %}"/>
              </div>
              <h2 class="title" data-cta="tovább →">Jelkód</h2>
            </div>
        </a>

        <a class="pic_link" href="{% url 'buildings' %}">
            <div class="promo" style="--overlay-color: hotpink">
              <div class="image-wrapper">
                  <img src="{% static 'bmw/images/buildings.jpg' %}"/>
              </div>
              <h2 class="title" data-cta="tovább →">Épületek</h2>
            </div>
        </a>

        <a class="pic_link" href="{% url 'quickreport' %}">
            <div class="promo" style="--overlay-color: SpringGreen">
              <div class="image-wrapper">
                  <img src="{% static 'bmw/images/quickreport.jpg' %}"/>
              </div>
              <h2 class="title" data-cta="tovább →">Gyorsjelentés</h2>
            </div>
        </a>
        </div>
</section>

{% endblock %}
