<!DOCTYPE html>
{% extends "bmw/base.html" %}
{% load static %}

{% block title %}
Fugro - Beosztás - Admin
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'schedule/css/admin_style.css' %}">

<section class="background">
    <div class="date_title_wrapper"><p class="date_title">Admin - {{request.resolver_match.kwargs.year}}.{{request.resolver_match.kwargs.month}}</p></div>
    <div class="toggle-days-displayed">
        <input class="cyan-button" type="button" name="toggle-days-displayed" value="5 nap">
        <input class="cyan-button" type="button" name="toggle-days-displayed" value="7 nap">
    </div>
    <div class="calendar">
        <div class="month">
            <div class="weekdays">
                <div><span>Hétfő</span></div>
                <div><span>Kedd</span></div>
                <div><span>Szerda</span></div>
                <div><span>Csütörtök</span></div>
                <div><span>Péntek</span></div>
                <div class="weekend"><span>Szombat</span></div>
                <div class="weekend"><span>Vasárnap</span></div>
            </div>
            {% for week in cal %}
                <div class="week">
                    {% for day in week %}
                        {% if day.7 == month_str %}
                            {% if day.3 in dates_in_database %}
                                <a class="day_wrap {{day.1}}-display" href="{% url 'date' year=day.6 month=day.5 day=day.4 %}">
                                    <div class="day current_month {{day.1}} {{day.9.state}}">
                                        <div class="text">
                                            <div class="date">{{ day.0 }}</div>
                                            <div class="icons">
                                                <div class="probaterheles {{day.9.hasProject.Próbaterhelés}}" data-bubble="{{day.10.Próbaterhelés}}"></div>
                                                <div class="sullyedesmeres {{day.9.hasProject.Süllyedésmérés}}" data-bubble="{{day.10.Süllyedésmérés}}"></div>
                                                <div class="integritasvizsgalat {{day.9.hasProject.Integritásvizsgálat}}" data-bubble="{{day.10.Integritásvizsgálat}}"></div>
                                                <div class="inklinometer {{day.9.hasProject.Inklinométer}}" data-bubble="{{day.10.Inklinométer}}"></div>
                                                <div class="other {{day.9.hasProject.Other}}" data-bubble="{{day.10.Other}}"></div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            {% else %}
                                 <div class="day_wrap day current_month {{day.1}}">
                                    <div class="text">
                                        <div class="date">{{ day.0 }}</div>
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            {% if day.3 in dates_in_database %}
                                <a class="day_wrap {{day.1}}-display" href="{% url 'date' year=day.6 month=day.5 day=day.4 %}">
                                    <div class="day not_current_month {{day.1}} {{day.9.state}}">
                                        <div class="text">
                                            <div class="date">{{ day.0 }}</div>
                                            <div class="icons">
                                                <div class="probaterheles {{day.9.hasProject.Próbaterhelés}}" data-bubble="{{day.10.Próbaterhelés}}"></div>
                                                <div class="sullyedesmeres {{day.9.hasProject.Süllyedésmérés}}" data-bubble="{{day.10.Süllyedésmérés}}"></div>
                                                <div class="integritasvizsgalat {{day.9.hasProject.Integritásvizsgálat}}" data-bubble="{{day.10.Integritásvizsgálat}}"></div>
                                                <div class="inklinometer {{day.9.hasProject.Inklinométer}}" data-bubble="{{day.10.Inklinométer}}"></div>
                                                <div class="other {{day.9.hasProject.Other}}" data-bubble="{{day.10.Other}}"></div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            {% else %}
                                 <div class="day_wrap day not_current_month {{day.1}}">
                                    <div class="text">
                                        <div class="date">{{ day.0 }}</div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
             <div class="nav_buttons">
                 <div class="nav_button">
                     <form method="GET">
                         <input type="text" name="previous_month" id="previous_month" hidden value="true">
                         <button class="button-69 backwards"><span>&#10229;</span></button>
                     </form>
                 </div>
                 <div class="nav_button">
                     <form method="GET">
                         <input type="text" name="next_month" id="next_month" hidden value="true">
                         <button class="button-68 forwards"><span>&#10230;</span></button>
                     </form>
                 </div>
            </div>
                 <form action="{% url 'export_dates' %}" class="export_wrapper">
                    {{export_dates.start}}
                    {{export_dates.end}}
                     <div>
                         <button class="cyan-button" id="export" type="submit">Export</button>
                     </div>
                </form>
        </div>

    </div>


</section>

<script src="{% static 'schedule/js/admin.js' %}"></script>

{% endblock %}