<!DOCTYPE html>
{% extends "bmw/base.html" %}
{% load static %}

{% block title %}
Fugro - Beosztás - Dátum
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'schedule/css/date_style.css' %}">

<section class="background">

    <div class="title_parent">
        <div class="title" date="{{ year_ }}.{{ month_ }}.{{ day_ }}">{{ year_ }}.{{ month_ }}.{{ day_ }}</div>
    </div>

<div class="nav_menu">
      <form method="GET">
        <input type="text" name="previous_day" id="previous_day" hidden value="true">
        <button class="button-69 backwards"><span>&#10229;</span></button>
    </form>
    <button id="done" class="done_btn button-68 forwards" data-url="{% url 'ajax_done' %}"><span>Done</span></button>
    <form method="GET">
        <input type="text" name="next_day" id="next_day" hidden value="true">
        <button class="button-68 forwards"><span>&#10230;</span></button>
    </form>
</div>
<div class="title_parent">
    <p id="ajax_done_show"></p>
</div>

    <div class="projects">
    {% for project, project_form in saved_projects_and_forms %}
    <div class="saved_project project">
        <div class="form_table_wrapper">
        <div class="project_title"><span>{{ project.project }}</span></div>
        <form method="POST" class="project_form" data-artifacts-url="{% url 'ajax_artifacts' %}" data-profiles-url="{% url 'ajax_profiles' %}" data-partial_save-url="{% url 'ajax_partial_save' %}">
            {% csrf_token %}

            <input type="hidden" name="project_name" value="{{project}}">

            {% if project.hasSubproject %}
                <div class="label">{{ project_form.subproject.label }}</div>
                <div class="field">{{ project_form.subproject }}</div>
                <div class="label">{{ project_form.artifact.label }}</div>
                <div class="field">{{ project_form.artifact }}</div>
                <div class="label">{{ project_form.profile.label }}</div>
                <div class="field">{{ project_form.profile }}</div>
            {% endif %}
            <div class="label">{{ project_form.employee.label }}</div>
            <div class="field">{{ project_form.employee }}</div>
            <div class="label">{{ project_form.vehicle.label }}</div>
            <div class="field">{{ project_form.vehicle }}</div>
            <div class="label">{{ project_form.comment.label }}</div>
            <div class="field">{{ project_form.comment }}</div>


            {% if project.hasSubproject %}
                <div id="response_table"></div>
            {% endif %}
            </div>
                <div class="buttons_flex">
            {% if not project.hasSubproject %}
                <button class="button-68 project_save" type="submit">Save</button>
            {% endif %}
        </form>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="delete" value="{{project}}">
            <button class="button-69 project_save delete_button" type="submit">Delete</button></div>
        </form>
        {% if project.hasSubproject %}
          <button id="partial_save" class="button-68 project_save" type="submit" data-project-name="{{project}}" >Update</button>
        {% endif %}
    </div>
    <br>
    {% endfor %}



    {% for project in untouched_projects %}
    <div class="unsaved_project project">
        <div class="project_title"><span>{{ project.project }}</span></div>
        <form method="POST" class="project_form" data-artifacts-url="{% url 'ajax_artifacts' %}" data-profiles-url="{% url 'ajax_profiles' %}" data-partial_save-url="{% url 'ajax_partial_save' %}">
            {% csrf_token %}

                <input type="hidden" name="project_name"  value="{{project}}">
                 {% if project.hasSubproject %}
                    <div class="label">{{ date_bound_project_form.subproject.label }}</div>
                    <div class="field">{{ date_bound_project_form.subproject }}</div>
                    <div class="label">{{ date_bound_project_form.artifact.label }}</div>
                    <div class="field">{{ date_bound_project_form.artifact }}</div>
                    <div class="label">{{ date_bound_project_form.profile.label }}</div>
                    <div class="field">{{ date_bound_project_form.profile }}</div>
                {% endif %}
                <div class="label">{{ date_bound_project_form.employee.label }}</div>
                <div class="field">{{ date_bound_project_form.employee }}</div>
                <div class="label">{{ date_bound_project_form.vehicle.label }}</div>
                <div class="field">{{ date_bound_project_form.vehicle }}</div>
                <div class="label">{{ date_bound_project_form.comment.label }}</div>
                <div class="field">{{ date_bound_project_form.comment }}</div>

            <button class="button-68 project_save" type="submit">Save</button>
        </form>
    </div>
    <br>
    {% endfor %}
</div>

</section>

<script src="{% static 'schedule/js/date.js' %}"></script>

{% endblock %}